:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --first-background-color: #2F303A;
    --second-background-color: #F5F4FA;
    --color-icons: #AFB1B8;
}